<div class="card">
  <div style="height: 500px; position: relative;" class="speeddial-circle-demo">
    <p-toast />
    <p-speedDial [model]="items" radius="120" direction="up-left" type="quarter-circle"
      buttonClassName="p-button-success" />
    <p-speedDial [model]="items" radius="120" direction="up-right" type="quarter-circle"
      buttonClassName="p-button-success" />
    <p-speedDial [model]="items" radius="120" direction="down-left" type="quarter-circle"
      buttonClassName="p-button-success" />
    <p-speedDial [model]="items" radius="120" direction="down-right" type="quarter-circle"
      buttonClassName="p-button-success" />
  </div>
</div>