<div class="card">
  <p-menubar [model]="items" />
</div>

<div class="card flex flex-wrap gap-3 justify-content-center">
  <p-button label="Primary" />
  <p-button label="Secondary" severity="secondary" />
  <p-button label="Success" severity="success" />
  <p-button label="Info" severity="info" />
  <p-button label="Warning" severity="warning" />
  <p-button label="Help" severity="help" />
  <p-button label="Danger" severity="danger" />
  <p-button label="Contrast" severity="contrast" />
</div>

<div class="card flex justify-content-center">
  <form [formGroup]="formGroup">
    <p-dropdown formControlName="selectedCity" [options]="cities" optionLabel="name" placeholder="Select a City" />
  </form>
</div>