<div class="card margin-bottom">
  <p-menubar [model]="items" />
</div>

<div class="card mt-5 mb-4 flex flex-wrap gap-3 justify-content-center">
  <p-button label="Primary" />
  <p-button label="Secondary" severity="secondary" />
  <p-button label="Success" severity="success" />
  <p-button label="Info" severity="info" />
  <p-button label="Warning" severity="warning" />
  <p-button label="Help" severity="help" />
  <p-button label="Danger" severity="danger" />
  <p-button label="Contrast" severity="contrast" />
</div>



<div class="card mb-5 flex justify-content-center">
  <div>
    <div class="card mb-5 mt-3 flex justify-content-center gap-3">
      <div class="card flex justify-content-center">
        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [filter]="true" filterBy="name"
          placeholder="Select a City" />
      </div>

      <div class="card flex justify-content-center">
        <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true"
          filterBy="name" [showClear]="true" placeholder="Select a Country">
          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="selectedCountry">
              <img src="https://flagcdn.com/16x12/{{selectedCountry.code.toLowerCase()}}.png"
                alt="{{selectedCountry.name}} flag" style="width: 18px; height: 12px;" />
              <div>{{ selectedCountry.name }}</div>
            </div>
          </ng-template>
          <ng-template let-country pTemplate="item">
            <div class="flex align-items-center gap-2">
              <img src="https://flagcdn.com/16x12/{{country.code.toLowerCase()}}.png" alt="{{country.name}} flag"
                style="width: 18px; height: 12px;" />
              <div>{{ country.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>

    </div>


    <div class="card margin-bottom flex justify-content-center gap-3">
      <div class="flex align-items-center">
        <p-checkbox [(ngModel)]="pizza" label="Cheese" name="pizza" value="Cheese" />
      </div>
      <div class="flex align-items-center">
        <p-checkbox [(ngModel)]="pizza" label="Mushroom" name="pizza" value="Mushroom" />
      </div>
      <div class="flex align-items-center">
        <p-checkbox [(ngModel)]="pizza" label="Pepper" name="pizza" value="Pepper" />
      </div>
      <div class="flex align-items-center">
        <p-checkbox [(ngModel)]="pizza" label="Onion" name="pizza" value="Onion" />
      </div>
    </div>

    <div class="card mb-4 flex justify-content-center">
      <div>
        <input type="text" pInputText [(ngModel)]="sliderValue" class="w-full mb-3" />
        <p-slider [(ngModel)]="sliderValue" class="w-full" />
      </div>
    </div>
  </div>


  <div class="card">
    <div style="height: 16vw" class="flex margin-left pb-7 align-items-center justify-content-center">
      <p-toast />
      <p-speedDial [model]="circleDial" type="circle" [radius]="80" buttonClassName="p-button-warning" />
    </div>
  </div>



</div>





<div class="card margin-bottom flex flex-wrap gap-3 p-fluid">
  <div class="flex-auto">
    <label for="integeronly">Integer Only</label>
    <p-inputNumber inputId="integeronly" [(ngModel)]="value1" />
  </div>
  <div class="flex-auto">
    <label for="withoutgrouping">Without Grouping</label>
    <p-inputNumber [(ngModel)]="value2" mode="decimal" inputId="withoutgrouping" [useGrouping]="false" />
  </div>
  <div class="flex-auto">
    <label for="minmaxfraction">Min-Max Fraction Digits</label>
    <p-inputNumber [(ngModel)]="value3" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2"
      [maxFractionDigits]="5" />
  </div>
  <div class="flex-auto">
    <label for="minmax">Min-Max Boundaries</label>
    <p-inputNumber [(ngModel)]="value4" inputId="minmax" mode="decimal" [min]="0" [max]="100" />
  </div>
</div>

<div class="card margin-bottom flex flex-wrap gap-3 p-fluid">
  <div class="flex-auto">
    <label class="font-bold block mb-2" for="mile">
      Mile
    </label>
    <p-inputNumber [(ngModel)]="value5" inputId="mile" suffix=" mi" />
  </div>
  <div class="flex-auto">
    <label class="font-bold block mb-2" for="percent">
      Percent
    </label>
    <p-inputNumber [(ngModel)]="value6" inputId="percent" prefix="%" />
  </div>
  <div class="flex-auto">
    <label class="font-bold block mb-2" for="expiry">
      Expiry
    </label>
    <p-inputNumber [(ngModel)]="value7" inputId="expiry" prefix="Expires in " suffix=" days" />
  </div>
  <div class="flex-auto">
    <label class="font-bold block mb-2" for="temperature">
      Temperature
    </label>
    <p-inputNumber [(ngModel)]="value8" prefix="↑ " inputId="temperature" suffix="℃" [min]="0" [max]="40" />
  </div>
</div>



<div class="card mt-7 flex justify-content-center">
  <div class="mr-7 mt-4">
    <div class="card mb-2 flex margin-bottom justify-content-center">
      <p-knob [(ngModel)]="percentValue" valueTemplate="{value}%" />
    </div>

    <div class="card flex justify-content-center">
      <p-rating [(ngModel)]="ratingValue" [cancel]="false" />
    </div>

    <div class="card flex justify-content-center">
      <form [formGroup]="formGroup">
        <p-toggleButton formControlName="checked" onLabel="On" offLabel="Off" />
      </form>
    </div>
  </div>

  <div class="card flex justify-content-center">
    <p-organizationChart [value]="data" />
  </div>
</div>

<div class="card my-6">
  <div class="flex flex-column md:flex-row">
    <div class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5">
      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="w-6rem">Username</label>
        <input pInputText id="username" type="text" class="w-12rem" />
      </div>
      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="w-6rem">Password</label>
        <input pInputText id="password" type="password" class="w-12rem" />
      </div>
      <p-button label="Login" icon="pi pi-user" styleClass="w-10rem mx-auto" />
    </div>
    <div class="w-full md:w-2">
      <p-divider layout="vertical" styleClass="hidden md:flex">
        <b>OR</b>
      </p-divider>
      <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'">
        <b>OR</b>
      </p-divider>
    </div>
    <div class="w-full md:w-5 flex align-items-center justify-content-center py-5">
      <p-button label="Sign Up" icon="pi pi-user-plus" styleClass="p-button-success w-10rem" />
    </div>
  </div>
</div>

<div class="card mx-7">
  <p-toolbar styleClass="bg-gray-900 shadow-2"
    [style]="{ 'border-radius': '3rem', 'background-image': 'linear-gradient(to right, var(--bluegray-500), var(--bluegray-800))' }">
    <ng-template pTemplate="start">
      <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" />
    </ng-template>
    <ng-template pTemplate="center">
      <div class="flex flex-wrap align-items-center gap-3">
        <button
          class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
          <i class="pi pi-home text-2xl"></i>
        </button>
        <button
          class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
          <i class="pi pi-user text-2xl"></i>
        </button>
        <button
          class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
          <i class="pi pi-search text-2xl"></i>
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
        <span class="font-bold text-bluegray-50">
          Amy Elsner
        </span>
      </div>
    </ng-template>
  </p-toolbar>
</div>

<div class="card mx-7 my-5">
  <p-fieldset>
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2 px-2">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
        <span class="font-bold">Amy Elsner</span>
      </div>
    </ng-template>
    <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </p-fieldset>
</div>

<div class="card">
  <p-treeTable [value]="files" [columns]="cols" [scrollable]="true" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="caption">
      <div class="text-xl font-bold">File Viewer</div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
      <tr [ttRow]="rowNode">
        <td *ngFor="let col of columns; let i = index; let last = last">
          <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0" />
          {{ rowData[col.field] }}
          <ng-container *ngIf="last">
            <p-button icon="pi pi-search" rounded="true" [style]="{ 'margin-right': '.5em' }" />
            <p-button icon="pi pi-pencil" rounded="true" severity="success" />
          </ng-container>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div style="text-align:left">
        <p-button icon="pi pi-refresh" label="Reload" severity="warning" />
      </div>
    </ng-template>
  </p-treeTable>
</div>

<div class="card my-6 flex justify-content-center">
  <div class="card flex justify-content-center" style="margin-left: 7vw;">
    <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
      </ng-template>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
        neque
        quas!
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
          <p-button label="Save" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="card flex justify-content-center" style="margin: 10vw; margin-top: 13vw;">
    <p-card header="Simple Card">
      <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
        neque
        quas!
      </p>
    </p-card>
  </div>
</div>


<p-accordion [activeIndex]="0">
  <p-accordionTab header="Header I">
    <p>
      Lorem ipsum dolor sit amet...
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header II">
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos...
    </p>
  </p-accordionTab>
</p-accordion>

<div class="card m-7 borderStyle">
  <div class="flex flex-column md:flex-row gap-5">
    <div class="flex-auto">
      <p-scrollPanel [style]="{ width: '100%', height: '200px' }" styleClass="custombar1">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est
          laborum.
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo
          enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
        </p>
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
          atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
          sunt in
          culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est
          et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
          minus.
        </p>
      </p-scrollPanel>
    </div>
    <div class="flex-auto">
      <p-scrollPanel [style]="{ width: '100%', height: '200px' }" styleClass="custombar2">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est
          laborum.
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo
          enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
        </p>
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
          atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
          sunt in
          culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est
          et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
          minus.
        </p>
      </p-scrollPanel>
    </div>
  </div>
</div>

<div class="card m-7 borderStyle">
  <div class="flex mb-2 gap-2 justify-content-end">
    <p-button (onClick)="activeIndex = 0" rounded="true" styleClass="w-2rem h-2rem p-0" [outlined]="activeIndex !== 0"
      label="1" />
    <p-button (onClick)="activeIndex = 1" rounded="true" styleClass="w-2rem h-2rem p-0" [outlined]="activeIndex !== 1"
      label="2" />
    <p-button (onClick)="activeIndex = 2" rounded="true" styleClass="w-2rem h-2rem p-0" [outlined]="activeIndex !== 2"
      label="3" />
  </div>
  <p-tabView [(activeIndex)]="activeIndex">
    <p-tabPanel header="Header I">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
    </p-tabPanel>
    <p-tabPanel header="Header II">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
        enim
        ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
        ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
      </p>
    </p-tabPanel>
    <p-tabPanel header="Header III">
      <p>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
        corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
        culpa
        qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
        expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
      </p>
    </p-tabPanel>
  </p-tabView>
</div>

<router-outlet></router-outlet>